/* スマホ向けレイアウト */
@media all and (max-width: 670px) {

 .gnav {
   display: none;
 }


 .hamburger {
  display: block;
 }

header img {
  width:15%;
  height:15%;
  margin-top:20px;
}


header h1 {
  font-size:20px;
  margin-bottom:30px;
}

#over_layer img {
  height:250px;
  margin-left:138px;
}

}


/*タブレット向けレイアウト*/
@media all and (max-width: 1000px) {

}

