
@charset "UTF-8";

html {
  font-size:62.5%;
}
body {
  font-size:1.4rem;
}
*, *::before, *::after {
  box-sizing:border-box;
}
.clearfix::after {
  content:'';
  display:block;
  clear:both;
}


header {
	background-color: black;
	overflow:hidden

}

header img {
	float:left;
	width: 90px;
	margin:15px 15px;
}

header h1 {
	float:left;
	margin:35px 20px 10px 0px;
	color:white;
	font-size: 35px;
}


/* ナビゲーション */
.gnav{
    width: 100%;
    background-color: #333;
}
.gnav_wrapper{
    max-width: 980px;
    margin: auto;
    display: flex;
		list-style: none;
}
.gnav_wrapper li{
    border-left: #888 1px solid;
    text-align: center;
    width: calc(100%/7);
    transition: all  0.3s ease;
}
.gnav_wrapper li:last-child{
    border-right: #888 1px solid;
}
.gnav_wrapper li:hover{
    background-color: #888;
}
.gnav_wrapper li a{
    display: block;
    padding: 1.3em 0;
    color: #fff;
    text-decoration: none;
}



.haikei {
	padding: 180px 0 100px 0;
  background-image: url(emiliano-vittoriosi-720679-unsplash-1024x680.jpeg);
  background-size: cover;
	height: auto;
  color:white;
  text-align: center;
}

.top-message{
  font-size: 30px;
	text-shadow: 2px 3px 4px black;


}

.submessage{
  font-size: 20px;
  text-shadow: 2px 3px 4px black;

}

main {
	background-color: white;
	text-align: center;
}

footer {
	background-color: black;
	border-top: solid 1px #eee;
	height:120px;
	color:white;
	font-size:15px;
	padding-top:30px;
	padding:20px;
}
