/* スマホ向けレイアウト */
@media all and (max-width: 670px) {

 .gnav {
   display: none;
 }


 .hamburger {
  display: block;
 }

header img {
  width:15%;
  height:15%;
  margin-top:20px;
}


header h1 {
  font-size:20px;
  margin-bottom:30px;
}


.haikei {
  width:auto;
  height:450px;
}

.haikei2 {
  width:auto;
  height:350px;
}

.haikei3 {
  width:auto;
  height:350px;
}

.haikei4 {
  width:auto;
  height:350px;
}

.haikei5 {
  width:auto;
  height:220px;
}

.haikei6 {
  width:auto;
  height:350px;
}

.haikei7 {
  width:auto;
  height:240px;
}


.haikei8 {
  width:auto;
  height:250px;
}

#rappers-list {
  /*width: 500px;*/
  width:auto;
  list-style: none;
}



main h1 {
  font-size:30px;
}

iframe {
  width:100%;
}

.MVbox p {
margin:0px;

}


}


/*タブレット向けレイアウト*/
@media all and (max-width: 1000px) {

}

